@charset "UTF-8";
/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT

----------------------------------------------------------------------------- */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,700");
@import url(/vex/css/vex.css);
@import url(/vex/css/vex-theme-wireframe.css);
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 90px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 10px;
  right: 10px;
  height: 2px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -17px; }

.c-hamburger span::after {
  bottom: -17px; }

/**
 * Style 2
 *
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
.c-hamburger--htx {
  background-color: #0d0d0d; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: black; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*-----------------------------------*
  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: -20px; }

.grid__col--12-of-12 {
  width: 100%; }

.grid__col--6-of-12 {
  width: 50%; }

.grid__col--4-of-12 {
  width: 33.3333333333%; }

.grid__col--8-of-12 {
  width: 66.6666666667%; }

.grid__col--3-of-12 {
  width: 25%; }

.grid__col--9-of-12 {
  width: 75%; }

.grid__col--push-12-of-12 {
  margin-left: 100%; }

.grid__col--push-6-of-12 {
  margin-left: 50%; }

.grid__col--push-4-of-12 {
  margin-left: 33.3333333333%; }

.grid__col--push-8-of-12 {
  margin-left: 66.6666666667%; }

.grid__col--push-3-of-12 {
  margin-left: 25%; }

.grid__col--push-9-of-12 {
  margin-left: 75%; }

.grid__col--pull-12-of-12 {
  margin-left: -100%; }

.grid__col--pull-6-of-12 {
  margin-left: -50%; }

.grid__col--pull-4-of-12 {
  margin-left: -33.3333333333%; }

.grid__col--pull-8-of-12 {
  margin-left: -66.6666666667%; }

.grid__col--pull-3-of-12 {
  margin-left: -25%; }

.grid__col--pull-9-of-12 {
  margin-left: -75%; }

.grid__col--1-of-12 {
  width: 8.3333333333%; }

.grid__col--push-1-of-12 {
  margin-left: 8.3333333333%; }

.grid__col--pull-1-of-12 {
  margin-left: -8.3333333333%; }

.grid__col--2-of-12 {
  width: 16.6666666667%; }

.grid__col--push-2-of-12 {
  margin-left: 16.6666666667%; }

.grid__col--pull-2-of-12 {
  margin-left: -16.6666666667%; }

.grid__col--5-of-12 {
  width: 41.6666666667%; }

.grid__col--push-5-of-12 {
  margin-left: 41.6666666667%; }

.grid__col--pull-5-of-12 {
  margin-left: -41.6666666667%; }

.grid__col--7-of-12 {
  width: 58.3333333333%; }

.grid__col--push-7-of-12 {
  margin-left: 58.3333333333%; }

.grid__col--pull-7-of-12 {
  margin-left: -58.3333333333%; }

.grid__col--10-of-12 {
  width: 83.3333333333%; }

.grid__col--push-10-of-12 {
  margin-left: 83.3333333333%; }

.grid__col--pull-10-of-12 {
  margin-left: -83.3333333333%; }

.grid__col--11-of-12 {
  width: 91.6666666667%; }

.grid__col--push-11-of-12 {
  margin-left: 91.6666666667%; }

.grid__col--pull-11-of-12 {
  margin-left: -91.6666666667%; }

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 700px) {
    .grid__col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 700px) and (min-width: 480px) {
    .grid__col[class*="grid__col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--m-1-of-2, .grid__col.grid__col--m-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--m-1-of-3 {
      width: 33.3333333333%; }
    .grid__col.grid__col--m-2-of-3 {
      width: 66.6666666667%; }
    .grid__col.grid__col--m-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .grid__col[class*="grid__col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--s-1-of-2, .grid__col.grid__col--s-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--s-1-of-3 {
      width: 33.3333333333%; }
    .grid__col.grid__col--s-2-of-3 {
      width: 66.6666666667%; }
    .grid__col.grid__col--s-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--s-3-of-4 {
      width: 75%; } }

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.grid__col--d-first {
  float: left; }

.grid__col--d-last {
  float: right; }

.grid--no-gutter {
  margin-left: 0;
  width: 100%; }
  .grid--no-gutter .grid__col {
    padding-left: 0; }
  .grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%; }

.grid__col--ab {
  vertical-align: bottom; }

.grid__col--am {
  vertical-align: middle; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: #0d0d0d; }
  html .section-title, html .header .test .name-holder .name, .header .test .name-holder html .name, body .section-title, body .header .test .name-holder .name, .header .test .name-holder body .name {
    margin: 0;
    font-size: 2.8125em;
    font-weight: 400; }
    @media only screen and (max-width: 50em) {
      html .section-title, html .header .test .name-holder .name, .header .test .name-holder html .name, body .section-title, body .header .test .name-holder .name, .header .test .name-holder body .name {
        font-size: 2.1875em; } }
    @media only screen and (max-width: 35em) {
      html .section-title, html .header .test .name-holder .name, .header .test .name-holder html .name, body .section-title, body .header .test .name-holder .name, .header .test .name-holder body .name {
        font-size: 1.5625em; } }
  html .grid_wrapper, body .grid_wrapper {
    width: 100%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto; }
  html .yellow-bold, body .yellow-bold {
    color: #f5ae00;
    font-weight: 700; }
  html .yellow, body .yellow {
    color: #f5ae00; }

.navbar {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 1;
  background-color: none;
  transition: all 0.5s ease; }
  .navbar .nav {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    list-style-type: none;
    max-width: 1200px; }
    .navbar .nav .nav-item {
      width: 20%;
      margin: 0;
      text-align: center;
      font-size: 1.25em;
      font-weight: 400; }
      .navbar .nav .nav-item a {
        text-decoration: none;
        color: #fff;
        padding: 23px; }
        .navbar .nav .nav-item a:hover {
          color: #f5ae00; }
      .navbar .nav .nav-item .inner-logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-width: 120px; }
        .navbar .nav .nav-item .inner-logo.svg-light path {
          fill: #ccc; }
        .navbar .nav .nav-item .inner-logo.svg-yellow path {
          fill: #f5ae00; }
  .navbar.active {
    background-color: #0d0d0d;
    padding: 10px 0 10px 0; }
    .navbar.active .nav-item a {
      color: #ccc; }
      .navbar.active .nav-item a:hover {
        color: #f5ae00;
        background-color: black; }
      .navbar.active .nav-item a.active {
        color: #f5ae00; }

.c-hamburger {
  display: none; }

@media only screen and (max-width: 50em) {
  .navbar {
    opacity: 0;
    width: 300px;
    height: auto;
    min-height: 300px;
    transform: translate(-1000px, 0); }
    .navbar.open {
      opacity: 1;
      transform: translate(0, 0);
      margin: 0;
      padding: 0;
      background-color: #0d0d0d; }
    .navbar .nav {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      margin: 0;
      padding: 0;
      list-style-type: none;
      min-width: 300px;
      min-height: 300px; }
      .navbar .nav .nav-item {
        width: 100%;
        padding: 25px 0 25px 0;
        border-top: 1px solid #6d6d6d; }
        .navbar .nav .nav-item.active {
          border-left: 3px solid #f5ae00;
          background-color: black; }
        .navbar .nav .nav-item:last-of-type {
          border-bottom: 1px solid #a0a0a0; }
        .navbar .nav .nav-item:nth-of-type(3) {
          display: none; }
        .navbar .nav .nav-item:hover {
          border-left: 3px solid #f5ae00;
          background-color: black; }
        .navbar .nav .nav-item a {
          padding: 20px 100px; }
  .c-hamburger {
    position: fixed;
    top: 1px;
    right: 1px;
    border: solid 1px #0d0d0d;
    z-index: 2;
    display: block;
    border-color: white; } }

@media only screen and (max-width: 35em) {
  .c-hamburger {
    width: 90px;
    height: 80px; }
    .c-hamburger span {
      top: 39px; }
  .navbar .nav .nav-item a {
    padding: 20px 45px; } }

.header {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url(/images/backgrounds/shutterstock_281792450-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 50em) {
    .header {
      background-image: url(/images/backgrounds/shutterstock_281792450-medium.jpg); } }
  @media only screen and (max-width: 35em) {
    .header {
      background-image: url(/images/backgrounds/shutterstock_281792450-small.jpg); } }
  .header .section-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6); }
  .header .test {
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 1100px;
    margin: auto; }
    .header .test .name-holder {
      position: absolute;
      top: 40%;
      left: 5%;
      color: #fff; }
      @media only screen and (max-width: 50em) {
        .header .test .name-holder {
          transition: all 0.5s ease; } }
      .header .test .name-holder .title {
        color: #ccc;
        margin: 0;
        font-weight: 300;
        font-size: 1.875em; }
        @media only screen and (max-width: 50em) {
          .header .test .name-holder .title {
            font-size: 1.25em; } }
        @media only screen and (max-width: 35em) {
          .header .test .name-holder .title {
            font-size: 1.125em; } }
    .header .test .mike {
      position: absolute;
      top: 70%;
      left: 5%;
      color: #a0a0a0; }
      @media only screen and (max-width: 50em) {
        .header .test .mike {
          transition: all 0.5s ease; } }
      .header .test .mike .saying {
        font-weight: 300;
        font-size: 1.25em; }
        @media only screen and (max-width: 50em) {
          .header .test .mike .saying {
            font-size: 1.125em; } }
        @media only screen and (max-width: 35em) {
          .header .test .mike .saying {
            font-size: 1em; } }
      .header .test .mike .church {
        font-weight: 300;
        font-size: 1.25em; }
        @media only screen and (max-width: 50em) {
          .header .test .mike .church {
            font-size: 1.125em; } }
        @media only screen and (max-width: 35em) {
          .header .test .mike .church {
            font-size: 1em; } }

.about {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 75px 0 75px 0;
  background-image: url(/images/backgrounds/coding_overlay-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 50em) {
    .about {
      background-image: url(/images/backgrounds/coding_overlay-medium.jpg); } }
  @media only screen and (max-width: 35em) {
    .about {
      background-image: url(/images/backgrounds/coding_overlay-small.jpg); } }
  .about .section-title, .about .header .test .name-holder .name, .header .test .name-holder .about .name {
    color: white;
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
    font-weight: 500; }
  .about .my-blurb {
    color: #ccc;
    width: 70%;
    margin: 10% auto 0 auto;
    max-width: 600px;
    font-size: 1.25em;
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
    border-top: solid 1px #a0a0a0;
    border-bottom: solid 1px #a0a0a0;
    padding: 10px 0 10px 0; }
    @media only screen and (max-width: 50em) {
      .about .my-blurb {
        width: 80%;
        font-size: 1em; } }
    @media only screen and (max-width: 35em) {
      .about .my-blurb {
        font-size: 0.875em;
        width: 95%; } }
    .about .my-blurb .yellow {
      font-size: 1.875em; }
  .about .periscope {
    height: 500px;
    width: 500px;
    background-image: url("/images/backgrounds/business-1-medium.jpg");
    background-size: contain;
    background-position: left 0px;
    border-radius: 50%;
    margin: 10% auto 20% auto; }
    @media only screen and (max-width: 50em) {
      .about .periscope {
        width: 400px;
        height: 400px;
        background-image: url("/images/backgrounds/business-1-medium.jpg");
        background-size: cover;
        background-position: right 0px; } }
    @media only screen and (max-width: 35em) {
      .about .periscope {
        width: 300px;
        height: 300px; } }

.portfolio {
  min-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 75px 0 75px 0;
  background-image: url(/images/backgrounds/gallery_overlay-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 50em) {
    .portfolio {
      background-image: url(/images/backgrounds/gallery_overlay-medium.jpg); } }
  @media only screen and (max-width: 35em) {
    .portfolio {
      background-image: url(/images/backgrounds/gallery_overlay-small.jpg); } }
  .portfolio .section-title, .portfolio .header .test .name-holder .name, .header .test .name-holder .portfolio .name {
    color: black;
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
    font-weight: 500; }
  .portfolio .grid_wrapper .thumbnail {
    padding: 5% 0 0 0;
    margin-top: 5%; }
    .portfolio .grid_wrapper .thumbnail img {
      display: block;
      height: 100%;
      width: 90%;
      margin: auto;
      border: 1px solid #fff;
      transition: all 1s ease;
      cursor: pointer;
      opacity: 0;
      transform: translateX(-20px); }
      .portfolio .grid_wrapper .thumbnail img.is-showing {
        opacity: 1;
        transform: translateX(0px);
        transition: all 0.5s ease; }
      .portfolio .grid_wrapper .thumbnail img:hover {
        transform: scale(1.1, 1.1); }

.contact {
  height: auto;
  width: 100%;
  padding: 75px 0 75px 0;
  background-image: url(/images/backgrounds/contact_overlay-large.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: cover; }
  @media only screen and (max-width: 50em) {
    .contact {
      background-image: url(/images/backgrounds/contact_overlay-medium.jpg); } }
  @media only screen and (max-width: 35em) {
    .contact {
      background-image: url(/images/backgrounds/contact_overlay-small.jpg); } }
  .contact .section-title, .contact .header .test .name-holder .name, .header .test .name-holder .contact .name {
    color: black;
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
    font-weight: 500; }
  .contact .form {
    box-sizing: border-box;
    max-width: 800px;
    margin: auto;
    height: 80%;
    padding: 5%; }
    .contact .form .sender, .contact .form .sender-name, .contact .form .sender-email, .contact .form .sender-text {
      padding: 10px;
      border-radius: 5px;
      background-color: #0d0d0d;
      color: #ccc;
      border: solid 1px #0d0d0d;
      font-family: "Raleway", sans-serif; }
      .contact .form .sender:focus, .contact .form .sender-name:focus, .contact .form .sender-email:focus, .contact .form .sender-text:focus {
        outline: none !important;
        border: 1px solid #fff;
        box-shadow: 0 0 10px #719ECE; }
    .contact .form .sender-name {
      width: 80%;
      max-width: 200px;
      margin-bottom: 2%; }
    .contact .form .sender-email {
      width: 80%;
      max-width: 200px;
      margin-bottom: 2%; }
    .contact .form .sender-text {
      width: 97%;
      max-width: 800px;
      height: 50vh;
      max-height: 400px; }
      @media only screen and (max-width: 50em) {
        .contact .form .sender-text {
          width: 96%; } }
      @media only screen and (max-width: 35em) {
        .contact .form .sender-text {
          width: 94%; } }
    .contact .form .submit {
      cursor: pointer;
      font-family: "Raleway", sans-serif;
      padding: 10px 20px 10px 20px;
      float: right;
      border: 2px solid #0d0d0d;
      background: #0d0d0d;
      color: #f5ae00; }

.footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  background-color: #fff;
  color: #000;
  padding: 20px; }
  .footer img {
    max-width: 30px;
    padding-left: 10px;
    padding-right: 10px; }
  .footer .designed {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin: 0 0 0.5em 0; }
    @media only screen and (max-width: 35em) {
      .footer .designed {
        font-size: 1em; } }
  .footer .quote {
    width: 100%;
    text-align: center;
    margin-top: 0;
    font-style: italic;
    font-weight: 400; }
    @media only screen and (max-width: 35em) {
      .footer .quote {
        font-size: 0.8em; } }

.vex.vex-theme-wireframe {
  padding-top: 50px;
  padding-bottom: 50px; }
  .vex.vex-theme-wireframe .vex-overlay {
    background: rgba(13, 13, 13, 0.9); }
  .vex.vex-theme-wireframe .vex-content {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: 'Raleway', sans-serif;
    width: 800px;
    max-width: 99%;
    background: rgba(13, 13, 13, 0.8);
    color: #ccc;
    border: solid 1px #f5ae00; }
    .vex.vex-theme-wireframe .vex-content .project-info {
      height: 50%;
      width: 50%;
      margin-right: 5%; }
      @media only screen and (max-width: 50em) {
        .vex.vex-theme-wireframe .vex-content .project-info {
          margin-right: 10%; } }
      @media only screen and (max-width: 35em) {
        .vex.vex-theme-wireframe .vex-content .project-info {
          height: auto;
          width: 100%;
          margin-right: 0; } }
      .vex.vex-theme-wireframe .vex-content .project-info .project-name {
        color: white;
        font-size: 1.125em;
        font-weight: 500;
        margin-bottom: 0;
        line-height: 0.8em; }
        @media only screen and (max-width: 50em) {
          .vex.vex-theme-wireframe .vex-content .project-info .project-name {
            font-size: 1em; } }
      .vex.vex-theme-wireframe .vex-content .project-info .project-date {
        font-weight: 300;
        color: #ccc;
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0.5em;
        border-bottom: 1px solid #f5ae00; }
        @media only screen and (max-width: 50em) {
          .vex.vex-theme-wireframe .vex-content .project-info .project-date {
            font-size: 0.875em; } }
      .vex.vex-theme-wireframe .vex-content .project-info .project-description {
        font-size: 0.875em;
        line-height: 1.4em;
        margin-top: 0; }
    .vex.vex-theme-wireframe .vex-content figure {
      margin: 0;
      height: 45%;
      width: 45%; }
      @media only screen and (max-width: 50em) {
        .vex.vex-theme-wireframe .vex-content figure {
          height: 40%;
          width: 40%; } }
      @media only screen and (max-width: 35em) {
        .vex.vex-theme-wireframe .vex-content figure {
          display: none; } }
      .vex.vex-theme-wireframe .vex-content figure img {
        height: 100%;
        width: 100%; }
      .vex.vex-theme-wireframe .vex-content figure figcaption {
        font-size: 0.625em;
        line-height: 1.4em; }
    .vex.vex-theme-wireframe .vex-content .technology-stack {
      height: auto;
      width: 40%;
      margin-top: 1%; }
      @media only screen and (max-width: 50em) {
        .vex.vex-theme-wireframe .vex-content .technology-stack {
          margin-top: 0; } }
      @media only screen and (max-width: 35em) {
        .vex.vex-theme-wireframe .vex-content .technology-stack {
          height: auto;
          width: 100%;
          margin-left: 0; } }
      .vex.vex-theme-wireframe .vex-content .technology-stack .technology-stack-title {
        margin-bottom: 0;
        font-weight: 300;
        font-size: 1.125em;
        color: white;
        border-bottom: solid 1px #f5ae00; }
      .vex.vex-theme-wireframe .vex-content .technology-stack .technology-list {
        list-style-type: none;
        padding: 0;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        margin-top: 0.2em; }
        .vex.vex-theme-wireframe .vex-content .technology-stack .technology-list li {
          font-size: 0.875em; }
    .vex.vex-theme-wireframe .vex-content .url-box {
      height: auto;
      width: 40%;
      margin-left: 10%;
      margin-top: 1%; }
      @media only screen and (max-width: 50em) {
        .vex.vex-theme-wireframe .vex-content .url-box {
          margin-left: 15%; } }
      @media only screen and (max-width: 35em) {
        .vex.vex-theme-wireframe .vex-content .url-box {
          height: auto;
          width: 100%;
          margin-left: 0; } }
      .vex.vex-theme-wireframe .vex-content .url-box .link {
        margin-bottom: 0;
        font-size: 1.125em;
        font-weight: 400;
        border-bottom: solid 1px #f5ae00; }
      .vex.vex-theme-wireframe .vex-content .url-box .url {
        text-decoration: none;
        color: inherit;
        font-size: 0.875em;
        transition: all 0.2s; }
        .vex.vex-theme-wireframe .vex-content .url-box .url:hover {
          color: #f5ae00;
          font-size: 1em; }
        @media only screen and (max-width: 50em) {
          .vex.vex-theme-wireframe .vex-content .url-box .url {
            padding: 30px 0 30px 0; } }
    .vex.vex-theme-wireframe .vex-content .vex-close::before {
      color: white;
      font-size: 50px;
      line-height: 30px;
      width: 30px; }
