<section id="about" class="about">
    <h1 class="section-title">Everyone is creative<span class="yellow">.</span></h1>
    <article class="my-blurb">
        <span class="yellow">A</span>s a student of business, I have acquired key analytical skills and apprecriate the professionalism and ingeniuity that it takes to manage a business. As a web developer/designer I am continually honing my creative craft so that I can produce stunning
        applications. Keep on scrolling to see more of my work.
    </article>
    <div class="periscope">
    </div>
</section>
