<section id="contact" class="contact">
    <h1 class="section-title">Contact me<span style="color: white;">.</span></h1>
    <form class="form" action="https://formspree.io/taranveer786@gmail.com" method="POST">
        <input type="text" name="_gotcha" style="display:none" />
        <input class="sender-name" type="text" name="name" placeholder="Name">
        <br />
        <input class="sender-email" type="email" name="_replyto" placeholder="Your Email">
        <br />
        <textarea class="sender-text" name="body" placeholder="Your Message"></textarea>
        <input class="submit" type="submit" value="Send">
    </form>

</section>
