<footer id="footer" class="footer">
    <h2 class="designed">Designed By <br/>
    Taranveer Bains</h2>
    <blockquote class="quote">I was born not knowing and have had only a little&nbsp;time&nbsp;to&nbsp;change&nbsp;that&nbsp;here&nbsp;and&nbsp;there.</blockquote>
    <div class="images">
        <a href="https://github.com/tearingItUp786/"><img src="images/logos/GitHub-Mark.svg" /></a>
        <a href="https://plus.google.com/+TaranveerBains/"><img src="images/logos/google_plus.svg" /></a>
        <a href="https://ca.linkedin.com/in/bainstaranveer"><img src="images/logos/linkedin.svg" /></a>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/vex/js/vex.combined.min.js"></script>
<script type="text/javascript" src="js/app_optimized.js"></script>
