<header id="home" class="header">
  <div class="section-overlay"></div>
  <div class="test">
    <div class="name-holder">
        <h1 class="name"><span class="yellow-bold">T</span>aranveer <span class="yellow-bold">S</span>ingh <span class="yellow-bold">B</span>ains</h1>
        <h2 class="title">BBA Candidate<span class="yellow">.</span> Developer<span class="yellow">.</span> Designer<span class="yellow">.</span></h2>
    </div>
    <div class="mike">
        <q class="saying">He's been tearing it up since 93'.</q>
        <h2 class="church">Mike Church<br />Systems Admin: Beedie School of Business</h2>
    </div>
  </div>
</header>
