<nav class="navbar">
    <ul class="nav">
        <li class="nav-item"><a data-scroll href="#home">Home</a></li>
        <li class="nav-item"><a data-scroll href="#about">About</a></li>
        <li class="nav-item">{% include logo_white.svg %}</li>
        <li class="nav-item"><a data-scroll href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a data-scroll href="#contact">Contact</a></li>
    </ul>
</nav>
<button class="c-hamburger c-hamburger--htx">
    <span>toggle menu</span>
</button>
