<section id="portfolio" class="portfolio">
    <h1 class="section-title">My Work<span class="yellow">.</span></h1>
    <div class="grid_wrapper">
        <div id="project1" onclick="openDialog(this);"class="thumbnail grid__col--am grid__col grid__col--6-of-12">
            <img src="/images/project_images/thumbnails/makeupbyravia-small.jpg" />
        </div>
        <div id="project2" onclick="openDialog(this);"class="thumbnail grid__col--am grid__col grid__col--6-of-12">
            <img src="/images/project_images/thumbnails/map-small.jpg" />
        </div>
        <div id="project3" onclick="openDialog(this);"class="thumbnail grid__col--am grid__col grid__col--6-of-12">
            <img src="/images/project_images/thumbnails/jasmine-small.jpg" />
        </div>
        <div id="project4" onclick="openDialog(this);"class="thumbnail grid__col--am grid__col grid__col--6-of-12">
            <img src="/images/project_images/thumbnails/resume-small.jpg" />
        </div>
        <div id="project5" onclick="openDialog(this);"class="thumbnail grid__col--am grid__col grid__col--6-of-12">
            <img src="/images/project_images/thumbnails/twentyfivetolife-small.jpg" />
        </div>
        <div id="project6" onclick="openDialog(this);"class="thumbnail grid__col--am grid__col grid__col--6-of-12">
            <img src="/images/project_images/thumbnails/blog1-small.jpg" />
        </div>
    </div>
</section>
