<section id="portfolio" class="portfolio">
    <h1 class="section-title">My Work<span class="yellow">.</span></h1>
    <div class="grid_wrapper">
        <div class="thumbnail grid__col grid__col--4-of-12">
            <img src="/images/backgrounds/coding_blur-1920x1080.jpg" />
        </div>
        <div class="thumbnail grid__col grid__col--4-of-12">
            <img src="/images/backgrounds/coding_blur-1920x1080.jpg" />
        </div>
        <div class="thumbnail grid__col grid__col--4-of-12">
            <img src="/images/backgrounds/coding_blur-1920x1080.jpg" />
        </div>
    </div>
</section>
