.portfolio
  min-height: 100%
  max-width: 100%
  box-sizing: border-box
  padding: 75px 0 75px 0
  background:
    image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(/images/backgrounds/gallery_try_1-1920x1080.jpg)
    repeat: no-repeat
    position: center
    size: cover
    attachment: fixed

  .section-title
    color: black
    width: 100%
    text-align: center
    margin: 0 0 0 0
    font-weight: $medium

  .grid_wrapper
    .thumbnail
      padding: 5% 0 0 0
      margin-top: 5%

      img
        display: block
        +size(90% 100%)
        margin: auto
        border: 1px solid #fff
        transition: transform 0.3s ease
        cursor: pointer

        &:hover
          transform: scale(1.1, 1.1)
