.portfolio
  min-height: 100%
  max-width: 100%
  box-sizing: border-box
  padding: 75px 0 75px 0
  background:
    image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url(/images/backgrounds/gallery_try_1-1920x1080.jpg)
    repeat: no-repeat
    position: center
    size: cover
    attachment: fixed

  .section-title
    color: black
    width: 100%
    text-align: center
    margin: 0 0 0 0
    font-weight: $medium

  .grid_wrapper
    .thumbnail
      img
        height: 100%
        width: 90%
        max-width: 100%
        margin: auto
        border: 1px solid #fff
